
.answerOptionContainer {
    margin: 30px 0;
    .singleImage{
        margin:auto;
    }
    .optionButton{
        border-radius: 19px;
        border: 1px solid #C4C4C4;
        color: #0C2044;
        &:hover{
            color: #FFFFFF;
            background: #0D65BE;
            box-shadow: 0px 0px 8px rgba(69, 69, 69, 0.7);
        }
    }
    .selectedButton{
        color: #FFFFFF;
            background: #0D65BE;
            box-shadow: 0px 0px 8px rgba(69, 69, 69, 0.7);
    }
    .cta{
        margin-top: 20px;
      }
  }
  