.thankYouPageContainer{
    height: calc(100vh - 75px);
    align-items: center;
    .thankYouText{
        
        .title{
            
            line-height: 28px;
            text-align: center;
            color: #494949;
            h4{
                font-weight: 600;
                font-size: 20px;
            }
        }
        
        .subtext{
            
            font-style: normal;
            
            
            line-height: 24px;
            text-align: center;
            color: #858585;
            h5{
                font-weight: normal;
                font-size: 16px;
            }
        }
      }
}

